@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif; 
}
section {
  scroll-margin-top: 50px; 
}
#contact{
  scroll-margin-top: 30px;
}
.App {
  text-align: center;
}
